:root{
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

*{
    margin: 0; 
    padding: 0;
}

body{
    max-width: 1440px;
    background-color: var(--Stone100);
}

main{
    margin: auto;
    max-width: 900px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
}

main img{
    margin: 5%;
    max-width: 800px;
    align-self: center;
    border: 2px solid white;
    border-radius: 20px;
}

.main_apresentacao{
    padding: 0 5%;
}

.main_apresentacao p{
    padding: 3% 0;
}

.main_preparo{
    margin: 0 5%;
    background-color: rgb(247, 187, 238);
    opacity: 0.5;
    padding: 4%;
    border: 2px solid white;
    border-radius: 10px;
}

.main_preparo h3{
    margin-bottom: 3%;
}


.main_item{
    margin: 3% 5%;
}

.main_item p{
    margin: 2% 0;
}

td{
    padding-top: 10px;
    padding-left: 15px;
}

.main_qtdReceita{
    padding-left: 300px;
}

li{
    margin: 3%;
    padding-left: 3%;
}


